Makefile.in
aclocal.m4
autom4te.cache
configure
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
contrib/n2m/aclocal.m4
contrib/n2m/autom4te.cache/
contrib/n2m/compile
contrib/n2m/config.guess
contrib/n2m/config.h.in
contrib/n2m/config.sub
contrib/n2m/configure
contrib/n2m/depcomp
contrib/n2m/install-sh
contrib/n2m/ltmain.sh
contrib/n2m/missing
include/mbconfig.h.in
*~
